.DS_Store
/.idea
/vendor
/node_modules
/src/**/*.js
/src/**/*.js.map
/public_html/dist
/public_html/index.html
/npm-debug.log
/webpack/target.js
/.vscode
**/tempCodeRunnerFile
*.pyc
__pycache__
*.log
.env

impractical_python/*/*.txt